<% include components/header %>
<script>
function request_cancel($this){
    console.log("button clicked");
    var request_data = $this.id;
    console.log("data: " + request_data)
    alert("Your request for cancelling the order has been sent. Please, wait for your request being processed.")
    $.post( "request_cancel",{ request_data: request_data},function(json) {
         $("#request-cancel").hide();
         console.log("requested cancel complete");
    })
}
</script>

<div class="container">
  <div style="padding-top: 50px" class="container text-center">
    <h3>Manage Orders</h3><br>
  </div><br>
  <% if (typeof(orders) == 'object') { %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Sender Name</th>
        <th>Recepient Name</th>
        <th>Destination Country</th>
        <th>Destination City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 1; i <= orders.length; i++) { %>
      <tr>
        <th><%= i %></th>
        <td><%= orders[i-1].sender_name %></td>
        <td><%= orders[i-1].recipient_name %></td>
        <td><%= orders[i-1].recipient_country %></td>
        <td><%= orders[i-1].recipient_city %></td>
        <td>
          <button id="btn_edit" type="button" class="btn btn-warning">Edit</button>
          <button id="btn_cancel" type="button" class="btn btn-danger" onclick="request_cancel(this)">Cancel</button>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</div>

<footer style="position: absolute; bottom: 0; width: 100%;" class="container text-center">
  <p>ACME Inc.</p>
  <p>2000 - 2018 </p>
</footer>

</body>
</html>
